body {
    background-color: burlywood;
}



header {
    background-color: lightblue;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    background-color: #fff8dc;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightcoral;
    display: inline;
    text-align: center;
}

header nav {
    background-color: rgb(186, 228, 242);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

nav {
    border-radius: 10px;
    padding: 12px;
    margin: 8px;
}

footer nav {
    padding: 6px;
    margin: 4px;
}

nav a {
    padding: 8px 12px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

footer nav a {
    padding: 4px 8px;
}

header nav a:hover {
    background-color: rgb(44, 182, 228);
}

footer nav a:hover {
    background-color: rgb(241, 99, 99);
}

h1 {
    font-style: 'Times New Roman';
}

h2 {
    font-style: Arial;
}

hr {
    border: none;
    border-top: 2px solid black;
}