body {
    background-color: burlywood;
}



header {
    background-color: lightblue;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    background-color: #fff8dc;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

hr {
    color: black;
}

