body {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(58, 56, 56);
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: darkblue;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 10px;
}
header a {
  font-size: x-large;
  border: 2px solid transparent;
}

header a:hover {
  background-color: darkcyan;
  border: 2px solid darkcyan;
  border-radius: 3px;
}

a {
  color: lightblue;
}

a:hover {
  color: cyan;
}

a:visited {
  color: purple;
}

#homepage-ul {
  list-style-position: outside;
  padding-left: 0;
}

#introduction-ul {
  text-align: left;
  list-style-position: inside;
}
