<header>
  <h1>Jed T. Duncan's Jolly Dog | ITIS 3135</h1>

  <nav>
    <a href="../index.html">Home</a>
    <a href="contract.html">Contract</a>
    <a href="cards.html">Playing Cards</a>
    <a href="documentation.html">Documentation</a>
    <a href="inventory.html">Inventory</a>
    <a href="product.html">Product Landing Page</a>
    <a href="survey.html">Survey</a>
  </nav>

  <nav>
    <a href="stuff/stuff.htm">CRAPpy page</a>
    <a href="website_evaluations.html">Website Evaluations</a>
  </nav>
</header>
