
<nav>
    <p>ITIS 3135 Menu</p>
    <a href="https://reshicrom6.github.io/itis3135/contract.html">Contract</a>
    <a href="https://reshicrom6.github.io/itis3135/website_evaluations.html">Website Evaluations</a>
</nav>

<nav>
    <p>Free Code Camp Certification Projects</p>
    <a href="../projects/Gallery.html">Gallery</a> | 
    <a href="../projects/Highlight.html">Highlight</a> | 
    <a href="../projects/Instructions.html">Instructions</a> | 
    <a href="../projects/Inventory.html">Inventory</a> | 
    <a href="../projects/Survey.html">Survey</a>
</nav>