<div class="menu-container">
    <nav class="sub-menu" id="itis-menu">
        <h4>ITIS 3135 Menu</h4>
        <a href="https://reshicrom6.github.io/itis3135/contract">Contract</a> |
        <a href="https://reshicrom6.github.io/itis3135/website_evaluations">Website Evaluations</a> |
        <a href="https://reshicrom6.github.io/itis3135/stuff/stuff">Crappy page</a>
    </nav>

    <nav class="sub-menu" id="fcc-menu">
        <h4>Free Code Camp Certification Projects</h4>
        <a href="../projects/Gallery">Gallery</a> |
        <a href="../projects/Highlight">Highlight</a> |
        <a href="../projects/Instructions">Instructions</a> |
        <a href="../projects/Inventory">Inventory</a> |
        <a href="../projects/Survey">Survey</a>
    </nav>
</div>